/*Declaração de valores globais*/
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c; 
    
    --botao-azul-efeito: #3c92fa;

    --fonte-principal: 'Inter';
}
/*Reset*/
*{
    margin: 0;
    padding: 0;
}
/*Personalização do corpo*/
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

    font-family: var(--fonte-principal);
    font-size: 1rem; /*16px*/
    font-weight: 400;
}
/*Classe da sessão principal dentro do main*/
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
/*Faz com quem use esta classe ocupe a tela inteira*/
.container{
    height: 100vh;
    display: grid; /*cria separação direta para os elementos*/
    grid-template-columns: 50% 50%; /*transforma o grid para distribuir por colunas*/   
}
/*classe para o botão de link*/
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
/*Classe do segundo botão*/
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
/*Ajuste do aviso no parágrafo*/
.container__aviso {
    font-size: 0.75rem;/*12px*/
    color: var(--cinza-secundario);
}
/*Ajuste do título principal*/
.container__titulo{
    font-size: 1.75rem;/*28px*/
    font-weight: 700;
}
/*Ajuste das distâncias entorno da imagem*/
.container__imagem{
    margin: 1em 0 2em 0;/*top right bot left*/
}
/*Ajusta as margens de todos elementos da div*/
.container__caixa {
    margin: 0 6em;
}
/*Inicio da segunda sessão*/
/*Divisão da segunda sessão*/
.secundario {
    align-items: center;
    margin: 0 10em;
}
/*Ajuste da imagem*/
.secundario__imagem {
    width: 80%;
}
/*Ajuste do texto de título*/
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
/*Ajuste do conteudo do paragrafo/texto de conteudo*/
.descricao__texto {
    color: var(--cinza-secundario);
}
/*Para descirção na terceira sessão*/
.container__descricao {
    padding: 2em;
}
/*Para o botão na terceira sessão*/
.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}
/*Ajustes da ultima sessão*/
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 3rem; /*48px*/
    color: var(--branco-principal);
}
/*Ajustes da lista da ultima sessão*/
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 2rem; /*32px*/
    color: var(--branco-principal);
}
/*Ajustes do rodapé / footer */
.rodape{
    text-align: center;
    margin: 5rem 3rem;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    margin: 1.25rem;
    
}
/*estilização dos links*/
.lista__link a{
    font-size: 1rem; /*16px*/
    text-decoration: none;
    color: var(--branco-principal);
    font-weight: 400;
}
.lista__link a:hover{
    color: var(--botao-azul);
}
.lista__link a:active{
    color: purple;
}
.rodape__texto{
    font-size: 0.875rem; /*14px*/
    color: var(--cinza-secundario);
    font-weight: 400;
    margin: 0 7.5rem 1.25rem;
}