/* Cabeçalho */
.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item{
    display: none;
}

/* Superior Seção */
.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/* Sem Flexbox */
/* .superior__item{
    margin-right: 15px;
}
.superior__item:Last-child{
    margin-right: 0px;
} */


/* Rodapé */
.rodape__container{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap;
    a propriedade abaixo compreende as duas acima */
    flex-flow: column wrap;
}

@media(min-width: 834px){
    /* Cabeçalho */
    .cabecalho__pesquisar__item{
        display: block;
    }
    /* Rodapé */
    .rodape__container{
        justify-content: space-between;
    }

}

/* Sem Flexbox */
/* 
.logo__item{
    margin-right: 200px;
}
.cabecalho__pesquisar__item{
    margin-right: 200px;
} 
*/