@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');
/*importa a fonte - google fonts*/

:root{
    --cor-primaria: #0C0C0C;/*#000000;*/
    --cor-secundaria: #9B3922;/*#f6f6f6;*/
    --cor-terciaria: #F2613F; /*#22d4fd;*/
    --cor-hover: #481E14;/*#272727; */

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/*vh viewport height*/
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 80px; /*80px*/
}
.cabecalho__menu__link {
    font-size: 1.5rem; /* 24px */
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 5% 10%; */
    padding: 5% 15% 11%;
    gap: 82px;
}
.apresentacao__conteudo{
    /* width: 615px; */
    /* height: 482px; */
    /*min-height: 100vh;*/  /* permite ajuste dinamico e evita que o main invada o footer */
    width: 50%;/*100vw;*/       /* permite ajuste dinamico e evita que o main invada o footer */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* REM para PIXEL é uma relação de 16 px/rem logo 36/16 = 2.25 rem */
    font-family: var(--fonte-principal)
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem; /* 24px */
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}
.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
}
.apresentacao__links__link{
    /* background-color:#22d4fd; */
    /* width: 280px; */
    /* color: var(--cor-primaria); */
    /* border-radius: 16px; */
    width: 50%;/*370px;*/
    
    color: var(--cor-secundaria);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem; /* 24px */
    padding: 21.5px 0;
    text-decoration: none;  
    font-family: var(--fonte-secundaria);
    font-weight: 600;

    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    cursor: pointer;
}
.titulo-destaque{
    color: var(--cor-terciaria);
    font-weight: 100;
}
.foto{
    /*align-self: flex-start;*/
    width: 50%;
}
.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
}
@media (max-width: 1200px){ /*diz quais classes utilizar quando a tela for menor que o valor indicado na condição - () é para condição*/
    .cabecalho{
        padding: 6%;
        gap: 20px;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}    